.App {
  text-align: center;
}

.App-logo {
  width: 30%;
}

.center-block {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.App-title {
  font-size: 1.5em;
}

.footer {
  background-color: rgb(208, 243, 199);
  padding-top: 40px;
  padding-bottom: 20px;
  margin-top: 180px;
  position: relative
}


.App-intro {
  font-size: large;
}